<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><a href="mailto:wafi@thebedewi.com" class="fas fa-envelope"></a>
      <!-- <a href="mailto:{{ sidebar.email }}">{{  }}</a> -->
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><a href="http://thebedewi.com" class="fas fa-globe-africa"></a>
      <!-- <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a> -->
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><a href="https://linkedin.com/in/wafib" class="fab fa-linkedin"></a>
      <!-- <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a> -->
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><a href="http://github.com/ class="fab fa-github"></a>
      <!-- <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a> -->
    </li>
    {% endif %}

    {% if sidebar.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank">{{ sidebar.gitlab }}</a>
    </li>
    {% endif %}

    {% if sidebar.twitter %}
    <li class="twitter"><a href="https://twitter.com/wafib" class="fab fa-twitter"></a>
      <!-- <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a> -->
    </li>
    {% endif %}


  </ul>
</div><!--//contact-container-->
